/* @@@@@@@@ styled by ngala21 */
/* ------------------ Google Fonts ------------------ */
@import url();

/* ------------------ Reset ------------------ */
*,
::after,
::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===================== Variables ===================== */

/* ------------------ Colors ------------------ */
/* primary */

/* default */

/* ------------------ Fonts ------------------ */
fonts {
  --headingFont: helvetica;
  --bodyFont: sans-serif;
  --smallFont: times;
}
/* ------------------ Media Queries ------------------ */


/* ------------------ Other Vars ------------------ */


/* ===================== Utility Classes ===================== */
body {

}

a {

}

img {

}

section {
  min-height: 90vh;
  padding: 1rem 2rem;
  margin: 1rem;
}

/* ------------------ Buttons ------------------ */

/* ------------------ Forms ------------------ */

/* =================== Header Section =================== */
nav {
  padding: 1rem 2rem;
}

.hero {
  padding: 0.8rem 2.5rem;
}


/*
==================
Navbar
==================
*/

/* =================== Main Section =================== */
/*
==================
Index
==================
*/


/*
==================
Footer
==================
*/

/* =================== Page 2 =================== */
/*
==================
Services
==================
*/

/* =================== Page 3 =================== */
/*
==================
Gallery
==================
*/

/* =================== Page 4 =================== */
/*
==================
Contact
==================
*/